// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
//   height: 40vmin;
//   pointer-events: none;
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

.fav-star {
  color: yellow;
}

/*** Added by Avi ***/
.App {
  min-height: 100vh;
}

.parent-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.board {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 8px;
  .board-details {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
  }
  .board-feed {
    width: 70%;
    display: flex;
    flex-direction: column;
  }
}

.post-list {
  display: flex;
  flex-direction: column;
}

.post-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 8px 0;
  padding: 8px;
  border: 1px black solid;
  border-radius: 3px;
  background-color: lightcyan;
  header {
    font-weight: bold;
    margin-bottom: 8px;
  }
  > img,
  video {
    max-width: 100%;
    align-self: center;
  }
  .post-card-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
  }
}

#long-menu {
  padding: 8px;
}

.post-form {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  border-radius: 3px;
  padding: 8px;
  margin: 8px 0;
  textarea {
    resize: none;
    margin: 8px 0;
    min-width: 50vw;
  }
  button {
    align-self: center;
    margin: 8px;
  }
  > img,
  video {
    max-width: 100%;
    align-self: center;
    margin-bottom: 8px;
  }
}

.loading-indicator {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  align-self: center;
  width: 10vw;
  height: 10vw;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
